

<div class="main-content">

  <h5>Lista e Subjekteve</h5>
 
  
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary float-right m-2" data-bs-toggle="modal"
data-bs-target="#exampleModal" (click)="addClick()" data-backdrop="static" data-keyboard="false">
    Shto subjekt
  </button>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-edit-entity [entity]="entity" *ngIf="ActivateAddEditEntComp"></app-add-edit-entity>
        </div>
      
      </div>
    </div>
  </div>
  

  <div class="float-right m-2">
    <input [(ngModel)]="EntityNameFilter" class="form-control"
    (keyup)="FilterEntity()" placeholder="Kerko">

  </div>
<table class="table table-hover">

    <thead>
        <tr>
       
          <th scope="col">Emri
            <button type="button" class="btn btn-light" (click)="sortResult('name', 'true')">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
              </svg>
            </button>
            <button type="button" class="btn btn-light" (click)="sortResult('name', 'false')">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
            </button>

          </th>
          <th scope="col">Qyteti</th>
          <th scope="col">NIPT</th>
          <th scope="col">Veprime</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of EntityList">
          
            <td>{{dataItem.name}}</td>
            <td>{{dataItem.reg_country.name}}</td>
            <td>{{dataItem.entity_nbr}}</td>
            <td>
                <button type="button" class="btn btn-outline-warning mr-1" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="editClick(dataItem)" data-backdrop="static" 
                    data-keyboard="false">Modifiko
                </button>
                <button type="button" class="btn btn-outline-danger mr-1" (click)="deleteClick(dataItem)">Fshij</button>
            </td>
         
        </tr>
        
      </tbody>


</table>
</div>


