<div class="sidebar">
    <div class="sidebar-brand">
        <h2>Financieri</h2>
    </div>

    <div class="sidebar-menu">

        <ul>
          <li> <a href="">Subjekte</a>
        </li>
            <li><a href="">IFRS</a></li>
        </ul>
    </div>
</div>

<app-main></app-main>
<router-outlet></router-outlet>

