


*{
    padding:3px;
    margin:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 


}

.sidebar{
    width:200px;
    position:fixed;
    left:0;
    top:0;
    height:100%;
    background:rgb(31, 74, 167);

}

.sidebar-menu li{
    width:100%;
    margin-bottom: 1rem;
    
    

}

.sidebar-menu a{
    display: block;
    color:#fff;
    font-size: 1.1rem;
    text-decoration:none;
    
}