<div class="form-group row">

    <div class="col-sm-6">
        
        <label class="col-sm-10 col-form-label">Vendi i regjistrimit</label>
        <input type="text" class="form-control" [(ngModel)]="entity.reg_country.name">
        <label class="col-sm-10 col-form-label">Lloji i shoqerise</label>
        <input type="text" class="form-control" [(ngModel)]="entity.org_type.name">
        <label class="col-sm-10 col-form-label">Emri<span style="color:#ff0000">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="name">
        <label class="col-sm-10 col-form-label">NIPT/NUIS<span style="color:#ff0000">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="entity_nbr">
        </div>
        <div class="col-sm-6">
        <label class="col-sm-10 col-form-label">Fusha e veprimtarise</label>
        <input type="text" class="form-control" [(ngModel)]="activity_field">
        <label class="col-sm-10 col-form-label">Telefon</label>
        <input type="text" class="form-control" [(ngModel)]="phone">
        <label class="col-sm-10 col-form-label">Adresa</label>
        <input type="text" class="form-control" [(ngModel)]="address">
        <label class="col-sm-10 col-form-label">Email</label>
        <input type="text" class="form-control" [(ngModel)]="email">
    </div>
    
</div>

<button (click)="addEntity()" *ngIf="entity.id==0" class="btn btn-primary">Shto</button>
<button (click)="updateEntity()" *ngIf="entity.id!=0 " class="btn btn-primary">Perditeso</button>