<div class="row justify-content-center">

    <div class="col-12 col-sm-6 col-md-3">
        <form class="form-container" [formGroup]="authForm" (ngSubmit)="saveForm()">
            <div class="form-group">
               <label for="username">Username</label>
               <input type="username" class="form-control" formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password">
             </div>
            
                <button type="submit" class="btn btn-primary btn-block" >Login</button>
              
        </form>
    </div>
</div>